<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MeloMatch</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
  .main-container {
    background-image: url("{{ url_for('static', filename='at.gif') }}");

  }
</style>
</head>
<body>
<div class="main-container">
  <h1>MeloMatch</h1>
  <div class="search-container">
    <input type="text" id="searchBox" placeholder="Search...">
    <button id="searchButton">Search</button>
  </div>
  <div id="outputTable">
    <!-- The table will be filled with the search results -->
  </div>
</div>
<script>

document.getElementById('searchButton').addEventListener('click', function() {
    fetch('/search', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({searchTerm: document.getElementById('searchBox').value})
    })
    .then(response => response.json())
    .then(data => {
        let table = '<table border="1"><tr>';


        for (let key in data[0]) {
            table += <th>${key}</th>;
        }
        table += '</tr>';

 
        data.forEach(row => {
            table += '<tr>';
            for (let key in row) {
                table += <td>${row[key]}</td>;
            }
            table += '</tr>';
        });

        table += '</table>';

        document.getElementById('outputTable').innerHTML = table;
    });
});

</script>
</body>
</html>